<section class="section" id="blog">
        <div class="container">
            <h6 class="section-title mb-0 text-center">Latest Articles</h6>
            <h6 class="section-subtitle mb-5 text-center">Architecto provident deserunt eveniet libero</h6>

            <div class="row">
                {% for blog in blogs %}
                    <div class="col-md-4">
                        <div class="card border-0 mb-4">
                            <img src={{ blog.image.url }} alt="" class="card-img-top w-100">
                            <div class="card-body">
                                <h6 class="card-title">{{ blog.title }}</h6>
                                <p>{{ blog.subtitle }}.</p>
                                <a href="javascript:void(0)" class="small text-muted">{{ blog.small_text }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>