{% extends "index.html" %}

{% block content %}

<!-- Service Section -->
    {% include "service.html" %}
    <!-- End OF Service Section -->

    <!-- About Section -->
    {% include "about.html" %}
    <!-- End OF About Section -->

    <!-- Portfolio Section -->
    {% include "portfolio.html" %}
    <!-- End of portfolio section -->

    <!-- Blog Section -->
    {% include "blog.html" %}
    <!-- End of Blog Section -->

    <!-- Testmonial Section -->
    {% include "testemonial.html" %}
    <!-- End of Testmonial Section -->

    <!-- Contact Section -->
    {% include "contact.html" %}

{% endblock %}