{% extends 'index.html' %}
{% block content %}
    <section id="reserves">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                {% for item in lst %}
                    <div class="row">
                        <div class="col-md-3">
                            <a href="{% url 'manager:update_reserve' pk=item.pk %}">
                                <button type="button" class="btn btn-primary">Закрыть заявку</button>
                            </a>
                        </div>
                        <div class="col-md-3">{{ item.name }}</div>
                        <div class="col-md-3">{{ item.phone }}</div>
                        <div class="col-md-3">{{ item.date|date:'d-m-Y' }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"><p>{{ item.massage }}</p></div>
                    </div>
                {% endfor %}
            </div>
            <!-- Page Footer -->
            <footer class="mt-5 py-4 border-top border-secondary">
                <p class="mb-0 small">&copy; <script>document.write(new Date().getFullYear())</script>, LeadMark Created By <a href="https://www.devcrud.com" target="_blank">DevCrud.</a>  All rights reserved </p>
            </footer>
            <!-- End of Page Footer -->
        </div>
    </section>
{% endblock %}